/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: Metric;
    src: url(../fonts/KPNMetricWeb-Light.eot) format("eot");
    src: url(../fonts/KPNMetricWeb-Light.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Metric;
    src: url(../fonts/KPNMetricWeb-Bold.eot) format("eot");
    src: url(../fonts/KPNMetricWeb-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Metric', sans-serif;
    --main: #333333;
    --blue: #009AFE;
    --light-blue: #DBEBF9;
    --dark-blue: #0377CC;
    --light-grey: #F3F3F3;
    --green: #009900;

    color: var(--main);
    margin: 0;
}

p {
    line-height: 1.5em;
    font-size: 1.2em;
}

a {
    font-size: 1.2em;
}

img {
    width: 100%;
}

h2 {
    font-weight: 300;
    color: green;
}

h3 {
    font-size: 1.375em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/#:~:text=visually%2Dhidden%20class%20is%20applied,focus%20indicator%20had%20gone%20to. */

/* HEADER */

header {
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    border-bottom: solid;
    border-color: var(--light-grey);
}

header > img {
    margin: auto 0;
    padding: 0;
    height: 100%;
    width: auto;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin: 0 0.6em;
}

header ul li > img {
    width: 1.5em;
}

main {
    margin-top: 3.5em;
}

/* ALGEMENE LINK STIJLEN */

a.link_button_main:link,
a.link_button_main:visited {
    color: white;
    background-color: var(--blue);
    padding: 0.5em 2em;
    margin: 0.1em;
    text-align: center;
    text-decoration: none;
    border-radius: 1.389em;
    border-style: solid;
    border-color: white;
    border-width: 0.056em;
    display: inline-block;
}

a.link_button_main:hover,
a.link_button_main:active {
    background-color: var(--dark-blue);
}

a.link_button_secundair:link,
a.link_button_secundair:visited {
    color: var(--blue);
    background-color: white;
    padding: 0.5em 2em;
    margin: 0.1em;
    text-align: center;
    text-decoration: none;
    border-radius: 1.563em;
    border-style: solid;
    border-color: var(--blue);
    border-width: 0.056em;
    display: inline-block;
}

a.link_button_secundair:hover,
a.link_button_secundair:active {
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}

a.link_simple:link,
a.link_simple:visited {
    background: url(../images/Middel1.svg) no-repeat;
    background-size: 0.8em;
    background-position: left;
    color: var(--main);
    text-decoration: none;
    font-weight: bold;
    padding-left: 1.2em;
}

a.link_simple:hover,
a.link_simple:active {
    background: url(../images/Middel2.svg) no-repeat;
    background-size: 0.8em;
    background-position: left;
    color: var(--blue);
}

/* SHOWCASE MET GRIJZE BG STIJLEN */

main > section:first-of-type {
    display: block;
    background-image: url("../images/home/header_iphone_12_series.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 30%;
    background-color: var(--main);
}

main.internet > section:first-of-type {
    background-image: url("../images/internet/head_swp.jpg")
}

main > section:first-of-type > div {
    color: white;
    padding-left: 0.7em;
    padding-bottom: 1.5em;
    background: linear-gradient(0deg, rgba(51, 51, 51, 1) 75%, rgba(51, 51, 51, 0.2) 100%);
    width: 100%;
}

main > section:first-of-type > div h2,
main > section:nth-of-type(2) > div > div h2 {
    color: white;
    padding-top: 1.5em;
}

main > section:nth-of-type(2) > div {
    display: block;
    background-image: url("../images/home/swp.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 20%;
    background-color: var(--green);
}

main > section:nth-of-type(2) > div > div,
main.internet > section:first-of-type > div {
    color: white;
    padding-left: 0.7em;
    padding-bottom: 1.5em;
    background: linear-gradient(0deg, rgba(0, 153, 0, 1) 75%, rgba(0, 153, 0, 0.2) 100%);
    width: 100%;
}

/* IN PAGE NAV HOME */

main > section:nth-of-type(2) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
}

main > section:nth-of-type(2) ul li {
    width: 47%;
    background-color: white;
    padding: 2em;
    margin: 1.5%;
    text-align: center;
    box-shadow: 0em 0em 0.5em lightgrey;
    border-radius: 0.3em;
    flex-grow: 1;
}

main > section:nth-of-type(2) ul a {
    text-decoration: none;
    color: var(--green);
}

main > section:nth-of-type(2) ul img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

/* SECTION & ARTIKELEN STIJLEN */

main > section:nth-of-type(2),
main > section:nth-of-type(4),
main > section:nth-of-type(6) {
    background-color: var(--light-grey);
    padding: 1em 0.7em 1em 0.7em;
}

.oneven {
    padding: 1em 0.7em 1em 0.7em;
}

main > section:nth-of-type(3),
main > section:nth-of-type(5),
.highlight_download {
    padding: 0.7em;
}

article {
    background-color: white;
    margin: 1em 0;
    padding-bottom: 1.5em;
}

main > section:nth-of-type(4) h3,
main > section:nth-of-type(4) p,
main > section:nth-of-type(4) a,
main.internet > section:nth-of-type(6) h3,
main.internet > section:nth-of-type(6) p,
main.internet > section:nth-of-type(6) a {
    margin: 0.7em 1em 0.7em 0.7em;
}

main.internet > section:nth-of-type(4) p {
    margin: 0;
}

main > section:nth-of-type(3) article,
main > section:nth-of-type(5) article {
    text-align: center;
    border-color: lightgrey;
    border-style: solid;
    border-width: 0.056em;
    padding: 3em;
}

main > section:nth-of-type(3) article img,
main > section:nth-of-type(5) article img {
    padding: 0 3em;
}

main.internet > section:nth-of-type(5) article img,
main.internet > section:nth-of-type(6) img {
    padding: 0;
    width: 100%;
}

main.internet > section:nth-of-type(6) p.speed {
    margin-top: -1em;
    font-size: 1.375em;
    font-weight: 100;
}

main.internet > section:nth-of-type(2) > article {
    text-align: left;
    border-color: lightgrey;
    border-style: solid;
    border-width: 0.056em;
    padding: 0.7em;
}

/* ZAKELIJKE LINKS */

main > section:nth-of-type(6) ul {
    background-color: white;
    margin-bottom: 1em;
    padding: 0.5em 0;
}

main > section:nth-of-type(6) ul > li {
    margin: 1.5em 0.7em;
    padding-bottom: 0.7em;
    border-bottom: 0.063em solid;
    border-color: lightgrey;
}

main > section:nth-of-type(6) > ul > li a:link,
main > section:nth-of-type(6) > ul > li a:visited {
    background: url(../images/Middel1.svg) no-repeat;
    background-size: 0.8em;
    background-position: left;
    color: var(--main);
    text-decoration: none;
    padding-left: 1.2em;
}

main > section:nth-of-type(6) > ul > li a:hover,
main > section:nth-of-type(6) > ul > li a:active {
    background: url(../images/Middel2.svg) no-repeat;
    background-size: 0.8em;
    background-position: left;
    color: var(--blue);
}

/* ADVERTENTIE ONDERAAN PAGINA HOME */

main > section:nth-of-type(6) > div {
    background-image: url("../images/home/zakelijk_iphone_12_series.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 1em 1em 2em 1em;
}

main > section:nth-of-type(6) > div h2,
main > section:nth-of-type(6) > div p {
    color: white;
}

main > section:nth-of-type(6) > div a {
    color: white;
}

/*FORM*/
form {
    background-color: var(--light-blue);
    padding: 3em 1em;
}

form > div {
    font-weight: bold;
    display: flex;
}

form > div label {
    font-size: 1.2em;
}

form > div input {
    font-size: 1em;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid lightgrey;
}

form > div > div {
    margin: 0.5em;
}

/*TOGGLE FAQ*/

.visible {
    opacity: 0;
    font-size: 0;
    height: 0;
}

main.internet > section:nth-of-type(7) {
    padding: 0.7em;
    margin-bottom: 1.5em;
}

main.internet > section:nth-of-type(7) > article {
    border-style: solid none none none;
    border-width: 1px;
    border-color: lightgray;
    padding-bottom: 0;
    margin: 0;
}

main.internet > section:nth-of-type(7) > article h3 button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    text-align: left;
    font: inherit;
    cursor: pointer;
}

/*https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit*/

main.internet > section:nth-of-type(7) > article:last-of-type {
    border-style: solid none solid none;
}

main.internet > section:nth-of-type(7) > article > h3 {
    cursor: pointer;
    padding: 0 1.5em 0 0;
    margin: 0.5em 0;
    background: url("../images/chevron_right.svg");
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: right;

}

main.internet > section:nth-of-type(7) > article > div {
    height: auto;
    margin-bottom: 1em;
    transition-duration: 0.5s;
}

main.internet > section:nth-of-type(7) > article > div > ul {
    font-size: 1.2em;
    line-height: 1.5em;
    padding-bottom: 1.2em;
}

/* FOOTER */

footer {
    background-color: var(--main);
}

footer img {
    width: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
